*.iml
.gradle
.kotlin/
.DS_Store
.externalNativeBuild
.cxx
local.properties
/build
/captures
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
app/release/
